In [31]:
import pandas as pd
import requests
import us

from can_tools.scrapers.base import CMU
from can_tools.scrapers.official.base import CountyDashboard
from can_tools.scrapers.official.base import StateDashboard

In [34]:
url = (
    "https://www.tn.gov/content/dam/tn/health/documents/cedep/"
    "novel-coronavirus/datasets/Public-Dataset-County-New.XLSX"
)
request = requests.get(url)
data = request.content

In [37]:
# Read data into data frame
df = pd.read_excel(data, parse_dates=["DATE"])

# Rename columns
df = df.rename(columns={"DATE": "dt", "COUNTY": "location_name"})

print(df)

              dt location_name  TOTAL_CASES  NEW_CASES  TOTAL_CONFIRMED  \
0     2020-03-05        Shelby          NaN        NaN              NaN
1     2020-03-05    Williamson          1.0        NaN              NaN
2     2020-03-06      Davidson          NaN        NaN              NaN
3     2020-03-06    Williamson          1.0        0.0              NaN
4     2020-03-07    Williamson          1.0        0.0              NaN
...          ...           ...          ...        ...              ...
25608 2020-12-11         Wayne       2086.0       18.0           1920.0
25609 2020-12-11       Weakley       2436.0       22.0           2066.0
25610 2020-12-11         White       2123.0       36.0           1848.0
25611 2020-12-11    Williamson      13339.0      170.0          12590.0
25612 2020-12-11        Wilson       9156.0      190.0           8784.0

       NEW_CONFIRMED  TOTAL_PROBABLE  NEW_PROBABLE  POS_TESTS  NEW_POS_TESTS  \
0                NaN             NaN           NaN        NaN            NaN
1                NaN             NaN           NaN        NaN            NaN
2                NaN             NaN           NaN        NaN            NaN
3                NaN             NaN           NaN        NaN            NaN
4                NaN             NaN           NaN        NaN            NaN
...              ...             ...           ...        ...            ...
25608            6.0           166.0          12.0     2104.0            7.0
25609           18.0           370.0           4.0     2377.0           20.0
25610           35.0           275.0           1.0     2341.0           39.0
25611          148.0           749.0          22.0    14253.0          157.0
25612          181.0           372.0           9.0    10175.0          201.0

       ...  NEW_DEATHS  TOTAL_DEATHS  NEW_RECOVERED  TOTAL_RECOVERED  \
0      ...         NaN           NaN            NaN              NaN
1      ...         NaN           NaN            NaN              NaN
2      ...         NaN           NaN            NaN              NaN
3      ...         NaN           NaN            NaN              NaN
4      ...         NaN           NaN            NaN              NaN
...    ...         ...           ...            ...              ...
25608  ...         1.0          14.0            NaN              NaN
25609  ...         0.0          38.0            NaN              NaN
25610  ...         4.0          28.0            NaN              NaN
25611  ...         5.0          96.0            NaN              NaN
25612  ...         0.0          99.0            NaN              NaN

       NEW_ACTIVE  TOTAL_ACTIVE  NEW_INACTIVE_RECOVERED  \
0             NaN           NaN                     NaN
1             NaN           NaN                     NaN
2             NaN           NaN                     NaN
3             NaN           NaN                     NaN
4             NaN           NaN                     NaN
...           ...           ...                     ...
25608         3.0          70.0                    14.0
25609        20.0         190.0                     2.0
25610        33.0         231.0                    -1.0
25611       149.0        1154.0                    16.0
25612       140.0        1012.0                    50.0

       TOTAL_INACTIVE_RECOVERED  NEW_HOSPITALIZED  TOTAL_HOSPITALIZED
0                           NaN               NaN                 NaN
1                           NaN               NaN                 NaN
2                           NaN               NaN                 NaN
3                           NaN               NaN                 NaN
4                           NaN               NaN                 NaN
...                         ...               ...                 ...
25608                    2002.0               1.0                29.0
25609                    2208.0               0.0                44.0
25610                    1864.0               1.0                71.0
25611                   12089.0               1.0               178.0
25612                    8045.0               1.0               184.0

[25613 rows x 24 columns]

In [38]:
# Create dictionary for columns to map
crename = {
    "TOTAL_CONFIRMED": CMU(
        category="cases", measurement="cumulative", unit="people"
    ),
    "TOTAL_PROBABLE": CMU(
        category="cases", measurement="new", unit="people"
    ),
    "TOTAL_DEATHS": CMU(
        category="deaths", measurement="cumulative", unit="people"
    ),
    "NEW_DEATHS": CMU(
        category="deaths", measurement="new", unit="people"
    ),
    "POS_TESTS": CMU(
        category="unspecified_tests_positive", measurement="cumulative", unit="specimens"
    ),
    "NEG_TESTS": CMU(
        category="unspecified_tests_negative", measurement="cumulative", unit="specimens"
    ),
    "TOTAL_TESTS": CMU(
        category="unspecified_tests_total", measurement="cumulative", unit="specimens"
    ),
    "NEW_HOSPITALIZED": CMU(
        category="hospital_beds_in_use_covid", measurement="new", unit="beds"
    ),
    "TOTAL_HOSPITALIZED": CMU(
        category="hospital_beds_in_use_covid", measurement="cumulative", unit="beds"
    ),
}

# Move things into long format
df = df.melt(
    id_vars=["dt", "location_name"], value_vars=crename.keys()
).dropna()

print(df)

               dt location_name            variable  value
4176   2020-05-04      Anderson     TOTAL_CONFIRMED   29.0
4177   2020-05-04       Bedford     TOTAL_CONFIRMED  200.0
4178   2020-05-04        Benton     TOTAL_CONFIRMED    6.0
4179   2020-05-04       Bledsoe     TOTAL_CONFIRMED  598.0
4180   2020-05-04        Blount     TOTAL_CONFIRMED   65.0
...           ...           ...                 ...    ...
230512 2020-12-11         Wayne  TOTAL_HOSPITALIZED   29.0
230513 2020-12-11       Weakley  TOTAL_HOSPITALIZED   44.0
230514 2020-12-11         White  TOTAL_HOSPITALIZED   71.0
230515 2020-12-11    Williamson  TOTAL_HOSPITALIZED  178.0
230516 2020-12-11        Wilson  TOTAL_HOSPITALIZED  184.0

[210381 rows x 4 columns]

In [44]:
from can_tools.scrapers.base import DatasetBase

# Determine the category of each observation
df = self.extract_CMU(df, crename)

print(df)

TypeError: extract_CMU() missing 1 required positional argument: 'cmu'